<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OpenStack Grizzly Design Summit</title>
    <link href="/media/odsreg.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <script>
function overlay() {
    el = document.getElementById("overlay");
    el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
  </script>
  <div class="container">
    <div id="header">
      <div class="span-5">
        <h1 id="logo"><a href="/">OpenStack</a></h1>
      </div>
        <h1>{{ event.title }}</h1>
        <h3>{{ event.subtitle }}</h3>
    </div>
  </div>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <div id="overlay">
<div id="greyoverlay"></div>
<div id="helppage">
<h2>Help</h2>
{% block helppage %}<p>Sorry, no help is provided for this screen.</p>{% endblock %}
<a class=roundedButton href='#' onclick='overlay()'>Close</A>
</div>
  </div>

  <div class="container">
    <div id="footer">
<hr>
Need <a href='#' onclick='overlay()'>Help</a>?</br>
{% block extrafooter %}{% endblock %}
      {% if user.is_authenticated %}
You are logged in as {{ user.username }}. <a href=/logout>Logout</A>
      {% else %}
You are not logged in. <a href="/openid/login?next={{request.path}}">Log in</A>
      {% endif %}
    </div>
  </div>
  </body>
</html>
