{% extends "regform.html" %}
{% block helppage %}
<p>This page lets you suggest a session topic for the {{ event.title }}.</p>
<p>Fill the <i>Title</i>, <i>Description</i> and <i>Topic</i> mandatory fields. You can also add links to existing Launchpad blueprints you created on the same subject, or add additional notes to further explain your idea to the PTL or lead responsible for selecting the content.</p>
<p>You should pay special attention to the <i>Topic</i>, as you can't change it yourself later. Available topics are:</p>
{% for topic in topics %}
<p><i>{{topic.name}}</i>: {{topic.description}}</p>
{% endfor %}
<p>When you've completed the form, click on the <i>Suggest</i> button to
suggest it to the topic manager who will be reviewing the submissions.
You'll be notified of status changes on your proposal by email notification.</p>
{% endblock %}
{% block formtitle %}
<h2>Suggest a session</h2>
<form action="/cfp/create" method="post">
{% endblock %}
{% block formfooter %}
<input id="toggleButton" class="roundedButton" type="submit" value="Suggest" />
<a class=roundedButton href=/>Cancel</A>
{% endblock %}
