{% extends "regform.html" %}
{% block helppage %}
<p>This screen lets you see the details of a proposed session.</p>
<p>Note that you can only edit sessions that you suggested yourself (or if you're the topic lead). Sessions in <i>Preapproved</i> state cannot be changed.</p>
{% endblock %}
{% block formtitle %}
<h2>{{ proposal.title }}</h2>
<p>Proposed by <b>{{ proposal.proposer }}</b>
in topic <b>{{ proposal.topic }}</b></p>
<h4>Description</h4>
<pre>{{ proposal.description }}</pre>
{% if blueprints %}
<h4>Related blueprints</h4>
<ul>
{% for name, link in blueprints.items %}
<li><a href="{{ link }}">{{ name }}</a></li>
{% endfor %}
</ul>
{% endif %}
<h4>Status</h4>
<p>This proposal is in <b>
{% if proposal.scheduled %}
Scheduled
{% else %}
{{ proposal.get_status_display }}
{% endif %}
</b> state.</p>
{% if editable %}
<a class=roundedButton href="/cfp/edit/{{ proposal.id }}">Edit</A>
{% endif %}
<a class=roundedButton href="/{{ request.session.lastlist }}">Back</A>
{% include "comments.html" %}
<form action="/cfp/details/{{ proposal.id }}" method="post">
{% endblock %}
{% block formfooter %}
<input id="toggleButton" class="roundedButton" type="submit"
       value="Add comment" />
{% endblock %}
