{% extends "regform.html" %}
{% block helppage %}
<p>This is the session review screen.</p>
<p>Here you can change the status of the session and add a few comments. The following statuses are available:</p>
<p><i>Unreviewed</i>: you haven't had time to look into this one yet</p>
<p><i>Incomplete</i>: you would like to see changes made to this description before making a decision. Add details on the Reviewer's notes textfield: those will be sent to the proposer.</p>
<p><i>Preapproved</i>: proposed session looks good, you'll schedule it. You may still merge it with another session at scheduling time though. Title and description for preapproved sessions are frozen.</p>
<p><i>Rejected</i>: session is not appropriate, off-topic, or not a community open discussion.</p>
{% endblock %}
{% block formtitle %}
<h2>Review proposed session</h2>
<form action="/cfp/review/{{ proposal.id }}" method="post">
{% endblock %}
{% block formfooter %}
<p>If you change status, an email notification will be sent to the proposer, along with the reviewer's notes.</p>
<input id="toggleButton" class="roundedButton" type="submit" value="Modify" />
<a class=roundedButton href="/cfp/topic/{{proposal.topic.id}}">Cancel</A>
<h4>{{ proposal.title }}</h4>
<p>Proposed by <b>{{ proposal.proposer }}</b>
in topic <b>{{ proposal.topic }}</b></p>
<h4>Description</h4>
<pre>{{ proposal.description }}</pre>
{% if blueprints %}
<h4>Related blueprints</h4>
<ul>
{% for name, link in blueprints.items %}
<li><a href="{{ link }}">{{ name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% include "comments.html" %}
{% endblock %}
