<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OpenStack Design Summit</title>
    <link href="/media/odsreg.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="container">
    <div id="header">
      <div class="span-5">
        <h1 id="logo"><a href="/">OpenStack</a></h1>
      </div>
        <h1>Design Summit</h1>
        <h3>The sessions suggestion site is currently closed.</h3>
    </div>
  </div>

  <div class="container">
    <p>This site opens a few months before every OpenStack Summit to handle
    session suggestions and scheduling for the "Design Summit" track.</p>
    <p>Please come back as we get nearer to the event.</p>
  </div>
  </body>
</html>
