{% extends "base.html" %}
{% block content %}
{% block formtitle %}
{% endblock %}
{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
{% if field.errors %}
<div class="error">
    {% for error in field.errors %}
{{ error|escape }}<br/>
    {% endfor %}
{% endif %}
<label>{{ field.label }}:</label>
{{ field }}
{% if field.errors %}
</div>
{% endif %}
            <div class="tip">{{ field.help_text }}</div>
        </div>
    {% endfor %}
{% block formfooter %}
{% endblock %}
</form>
{% endblock %}
