{% extends "base.html" %}
{% block helppage %}
<p>This is the topic lead review screen. It lists all session suggestions for your topic so far.</p>
<p>A graph shows you how many sessions you have proposed, preapproved and scheduled against the number of available slots you have for your topic.</p>
<p>You can see the details of a proposed session (or edit sessions that are not in <i>Preapproved</i> state yet) by clicking on its title. You can sort the results by clicking on the corresponding table headers.</p>
<p>To change the status for a given session, click on the <i>Status</i> you want to change.</p>
<p>Finally, when you're ready to do the scheduling of your topic, you can click on the <i>Scheduling</i> button.</p>
{% endblock %}
{% block content %}
<script type="text/javascript" src="/media/sorting.js"></script>
<div class="span-8">
<h2>{{ topic.name }}</h2>
<a class=roundedButton href=/>Back to proposals list</A>
<a class=roundedButton href="/scheduling/{{ topic.id }}">Scheduling</A>
</div>
<div id="vis"><iframe frameborder=0 width=580 height=100 src=/scheduling/graph/{{ topic.id }}></iframe></div>
<table>
<tr>
<th>Topic</th>
<th><a class="nolink"
     href="" onclick="ts_resortTable(this); return false;">Title<img
     class="sortarrow" src="/media/arrowBlank" height="6" width="9"></a>
     <span class=small>(Click to edit)</span></th>
<th><a class="nolink"
     href="" onclick="ts_resortTable(this); return false;">Proposer<img
     class="sortarrow" src="/media/arrowBlank" height="6" width="9"></a></th>
<th class="right"><a class="nolink"
     href="" onclick="ts_resortTable(this); return false;">Status<img
     class="sortarrow" src="/media/arrowBlank" height="6" width="9"></a>
     <span class=small>(Click to review)</span></th>
</tr>
{% for proposal in proposals %}
<tr>
<td>
{% if proposal.scheduled %}
{{ proposal.topic.name }}
{% else %}
<a href="/cfp/switch/{{ proposal.id }}">{{ proposal.topic.name }}</a>
{% endif %}
</td>
<td>
{% if proposal.scheduled %}
<a href="/cfp/details/{{ proposal.id }}">{{ proposal.title }}</a>
{% else %}
<a href="/cfp/edit/{{ proposal.id }}">{{ proposal.title }}</a>
{% endif %}
</td>
<td>{{ proposal.proposer.first_name }} {{ proposal.proposer.last_name }}</td>
<td class="right"><span class="sortkey">{{ proposal.status }}</span>
{% if proposal.scheduled %}
Scheduled
{% else %}
<a href="/cfp/review/{{ proposal.id }}">
{{ proposal.get_status_display }}</a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
{% block extrafooter %}
{% endblock %}
