{
    "rooms": {
        "A": "Annie AB",
        "P": "Ballroom"
    },
    "slots": [
        {
          "day": "2012-09-20",
          "hours": [
                "09:30",
                "10:00",
                "10:30"
            ]
        },
        {
           "day": "2012-09-21",
           "hours": [
                "09:30",
                "10:00",
                "10:30"
            ]
        }
    ],
    "topics": {
        "Swift": {
            "room": "A",
            "start_day": "2012-09-20", "first_slot": "09:30",
            "end_day": "2012-09-21", "last_slot": "10:00" }
    }
}
