{
    "Nova": {
            "description": "Sessions about OpenStack Compute (Nova)",
            "lead_username": "vishvananda"
    },
    "Swift": {
            "description": "Sessions about OpenStack Object Storage (Swift)",
            "lead_username": "notmyname"
    },
    "Glance": {
            "description": "Sessions about OpenStack Image service (Glance)",
            "lead_username": "bcwaldon"
    },
    "Keystone": {
            "description": "Sessions about OpenStack Identity (Keystone)",
            "lead_username": "heckj"
    },
    "Horizon": {
            "description": "Sessions about OpenStack Dashboard (Horizon)",
            "lead_username": "gabriel-hurley"
    },
    "Cinder": {
            "description": "Sessions about OpenStack Block Storage (Cinder)",
            "lead_username": "john-griffith"
    },
    "Networking": {
            "description": "Sessions about OpenStack Network service (Quantum), and the future of Nova networking",
            "lead_username": "danwent"
    },
    "Oslo": {
            "description": "Common code and libraries between OpenStack projects",
            "lead_username": "markmc"
    },
    "Ceilometer": {
            "description": "Sessions about Ceilometer (Metering, Monitoring)",
            "lead_username": "nijaba"
    },
    "Heat": {
            "description": "Sessions about Heat (Resource Orchestration)",
            "lead_username": "sdake"
    },
    "Documentation": {
            "description": "Future efforts on OpenStack documentation",
            "lead_username": "annegentle"
    },
    "QA": {
            "description": "Sessions about QA efforts: unit tests, integration tests, upgrade tests, Tempest...",
            "lead_username": "david-kranz"
    },
    "Process": {
            "description": "Development processes and tools, release schedule, core infrastructure for the project",
            "lead_username": "ttx"
    }
}
