{% extends "regform.html" %}
{% block helppage %}
<p>This screen lets you override the title for a slot, and provide a small description that will appear <i>before</i> all the session descriptions suggested by users.</p>
<p>This is especially useful when you merge multiple suggested sessions into a single discussion slot.</p>
{% endblock %}
{% block formtitle %}
<h2>Edit slot '{{ title }}'</h2>
<form action="/scheduling/edit/{{ slot.id }}" method="post">
{% endblock %}
{% block formfooter %}
<pre>{{ full_desc }}</pre>
<input id="toggleButton" class="roundedButton" type="submit" value="Modify" />
<a class=roundedButton href="/scheduling/{{ slot.topic.id }}">Cancel</A>
{% endblock %}
