{% extends "base.html" %}
{% block helppage %}
<p>This screen lets you swap slot positions in your schedule, while keeping slot contents intact.</p>
<p>Just select the slot you want to swap this slot with.</p>
{% endblock %}
{% block content %}
<h2>Swap slot positions</h2>
<form action="/scheduling/swap/{{ oldslot.id }}" method="post">
<p>
{% if title %}
This slot ("{{title}}")
{% else %}
This empty slot
{% endif %}
is currently positioned at {{ oldslot.start_time }}.</p>
<p>Select a new position:
<select name="newslotid">
{% for newslot_time, newslot_id, newslot_title in newslots %}
<option value="{{ newslot_id }}">{{ newslot_time }}
{% if newslot_title %}({{newslot_title}}){% endif%}</option>
{% endfor %}
</select></p>
<input id="toggleButton" class="roundedButton" type="submit" value="Swap" />
<a class=roundedButton href="/scheduling/{{ oldslot.topic.id }}">Cancel</A>
{% endblock %}
